/* body{
  margin: 0px;
  background-color: ghostwhite;
  font-family: 'Iceberg', cursive;
  text-align: center;
} */
h1 {
  font-size: 40px;
  text-align: center;
}

/**********************
*********HEADER*******/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.accroche{
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
}
/**********************
**********LOGO********/
.logo{
  width: 75px;
  height: 75px;
  margin: 30px;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background: rgba(5, 5, 5, 0.6);
  border-radius: 50%;
  filter: drop-shadow(0 0 0.2rem black);

}
.logo:hover{
    cursor: pointer;
    transition: 1000ms;
    transform: scale(1.1) rotate(360deg);
    
}

.logo img{
    width: inherit;
}
.logo a {
    width: inherit;
    
}

/**********************
********CONTENU*******/
.contenu{
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  
}

.contenu-dev{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: lavender;
  margin-top: 20px;
}

/**********************
******NOUVEL BAN******/
i{
  font-size: 50px;
}
:root {
  --container-bg-color: #333;
  --left-bg-color: rgba(119, 153, 198, 0.8);
  --left-button-hover-color: rgba(161, 11, 11, 0.3);
  --right-bg-color: rgba(96, 110, 122, 0.8);
  --right-button-hover-color: rgba(92, 92, 92, 0.3);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

html, body {
  padding:0;
  margin:0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( 96.5deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
  color: white;

}

.container h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.container p {
  display: none;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  white-space: break-spaces;
  transition: 1000ms;
}

.container .button {
  display: block;
  position: absolute;
  left: 50%;
  top: 40%;
  height: 2.5rem;
  padding-top: 1.3rem;
  width: 15rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
  cursor: pointer;
}


.fas:hover {
  transform: scale(1.3);
  color: #f1c40f;
  transition: 2000ms;
}
#left:hover {
  transform: scale(1.3);
  transition: 1000ms;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left:0;
  background: url('/image/Maker.png') center center no-repeat;
  background-size: cover;

}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--left-bg-color);
  
}

.split.right {
  right:0;
  background: url('/image/Developpeur.png') center center no-repeat;
  background-size: cover;

}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--right-bg-color);
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}
.hover-left .left p {
  display: block;
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 1;
}

.hover-right .right {
  width: var(--hover-width);
}

.hover-right .right p {
  display: block;
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}



@media screen and (max-width: 1000px){

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container h1 {
    font-size: 2rem;
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    white-space: unset;
  }
  .container p {
    top: 70%;
    font-size: 0.7em;
  }
  .logo {
    width: 55px;
    height: 55px;
    margin: 10px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: unset;
    background: white;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem black);
}
  .button {
    display: unset;
    position: relative;
    left: unset;
    top: unset;
    height: unset;
    padding-top: unset;
    width: unset;
    text-align: unset;
    transform: unset;
  }
    
  .split {
    width: auto;
    height: auto;
  }
  
  .split.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 58%;
  }
  
  .split.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 42%;
    right: 0;
    left: 0;
    bottom: 13%;

  }
  .hover-left .left {
    width: auto;
  }
  
  .hover-left .right {
    width: auto;
  }
  
  .hover-right .right {
    width: auto;
  }
  
  .hover-right .left {
    width: auto;
  }
  
}

/**********************
*******SECTION********/
section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contnenu-dev, section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


/**********************
****ANIMATION PAGE****/

.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}
.loader .loader__icon {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  transition: opacity .5s ease;
}
.loader .loader__icon svg {
  transform-origin: 0 0;
}
.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #007AE5;
  transition: width .7s ease;
}
.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}
.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}
.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}
.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}
.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}
.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}
.loader--active {
  width: 100%;
  transition-delay: 0s;
}
.loader--active .loader__icon {
  opacity: 1;
  transition: opacity .5s 1.4s ease;
}
.loader--active .loader__tile {
  width: 100%;
}
.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}
.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}
.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}
.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}
.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}
.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}

/**********************
***SECTION BANNIERE***/
.one{
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 99%);
  clip-path: polygon(0 0, 0% 125%, 100% 99%);
  position: absolute;
  z-index: 2;
}
.two{
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 99%);
  clip-path: polygon(0 0, 100% 0, 100% 99%);
  
}
.Banniere{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: initial;
  align-items: unset;
  
}
.Banniere img {
  border-radius: 50px;
}
.Banniere a{
  display: flex;
  cursor: pointer;
}
.hovered{
  opacity: 0.5;
}

.first:hover {
  filter: drop-shadow(-5px 5px 10px black); 
}
.second:hover {
  filter: drop-shadow(5px -5px 10px black); 
}

/**********************
******SECTION XP******/
.area-xp{
  padding: 20px;
}
.card-xp{
  padding: 20px;
}
.card-xpp{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.card-xpp a > img{
  width: 112px;
  height: 112px;
  transition: 1000ms;
}
.card-xpp a > img:hover{
  transition: 1000ms;
  transform: scale(2);
  filter: drop-shadow(5px -5px 2px black);
}

.sous-badge{
  visibility: hidden;
  position: absolute;
  transition: 5000ms;
}
.show{
  transition: 5000ms;
  visibility: visible;
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  transform: translateX(-50%) translateY(-50%);
}
  
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 
  .show:nth-child(0) {
    transition-delay: -0.2s;
  }
  .show:nth-child(1) {
    transition-delay: 0s;
  }
  .show:nth-child(2) {
    transition-delay: 0.2s;
  }
  .show:nth-child(3) {
    transition-delay: 0.4s;
  }
  .show:nth-child(4) {
    transition-delay: 0.6s;
  }
  .show:nth-child(5) {
    transition-delay: 0.8s;
  }
/**********************
**SECTION IMAGE MOI***/
.me{
  clip-path: ellipse(50% 50%);
}

/**********************
**SECTION COMPETENCE**/
section > h2{
  font-size: xx-large;
  text-align: center;
}

.compt-zone{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.compt-zone h1{
  width: 100%;

}

.img-compt img{
  width: 100px;

}
.card-compt{
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/**********************
********PROJET********/

.area-projet{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

article{
  transition: 1000ms;
  height: 300px;
  width: 450px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: white;
  
}
article img {
  transition: 1000ms;
  
}
.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
  height: 300px;
  width: 450px;
  transform: translateY(50%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: -1;
}
article:hover > img{
  transition: 1000ms;
  
}
article:hover > .showing > img{
  transition: 1000ms;
  
}

article:hover .description{
  opacity: 1;
  position: absolute;
  text-shadow: 4px 5px 10px black;
  z-index: 1;
  background-color: #2461aad4;
  transform: translateY(0%);
  transition: all 0.3s ease-in-out;
}
.btn-project{
  background: none;
  outline: none;
  letter-spacing: 2px;
  border: 5px solid white;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bolder;
}
.btn-project:hover{
  transition: all 0.3s ease-in-out;
  background: white;
  color: #3489eed4;
  transform: scale(1.05);
  cursor: pointer;
  

}
.description > h2,p{
  text-align: center;
}
/*ANIMATION REALISATION*/
.page{
  display: none;
}

.showing{
  display: flex;
  animation: fade 2s;
  justify-content: center;
  
}
@keyframes fade {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/**********************
***SECTION INTERETS***/
.interet {
  margin-top: 50px;
}
.mosaic{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;

}
.mosaic-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 321px;
  height: 320px;
}
.mosaic-img > img {
  width: max-content;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.mosaic-text{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 321px;
  height: 320px;
  background-color: #f4f4f4;
}

.colone1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colone2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.colone3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/**********************
*******FORMULAIRE*****/
.form{
  display: flex;
  flex-direction: column;
}

.form input,textarea{
  border: none;
  padding: 15px;
  margin: 20px;
}
.submit{
  border-radius: 10px;
  background-color: rgb(196, 225, 235);
}

/**********************
*********FOOTER*******/
footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #03142a;
  width: inherit;
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.titre-social{
  display: flex;
  align-items: center;
}
.social-bar {
  display: flex;
  height: auto;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  width: 100%;
}
.social-bar h1 {
  flex-grow: 2;
  text-align: center;
}
.social-bar a {
  height: 50px;
  margin: 25px;
}
.social-bar img {
  height: inherit;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }
.social-bar img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/**********************
**********MENU********/
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
}

.navigation li {
    list-style: none;

}

li a{
    text-decoration: none;
    font: menu;
    color: blanchedalmond;
    font-size: inherit;
    letter-spacing: 2px;
    padding: 10px 20px;
}

.navigation li a:hover {
    background-color: #ddd;
    color: black;
    box-shadow: 0 0 5px blanchedalmond, 0 0 25px blanchedalmond, 0 0 50px blanchedalmond, 0 0 100px blanchedalmond;
    border-radius: 3px;
    transition: all 500ms;
}

.navigation li a.active {
    background-color: #4CAF50;
    color: white;
}

.navigation .icon {
    display: none;
}



/**********************
*********RESPONSIVE*******/
/*MENU*/
@media screen and (max-width: 1000px){
    
    .header.responsive{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .navigation li {
        display: none;
        transition: all 500ms;
    }
    .navigation {
        flex-grow: initial;
    }
    .navigation a.icon{
        display: flex;
        width: 35px;
        padding: 10px;
        margin-right: 20px;
    }
    .logo{
        transition: all 1000ms;
        
    }
    .navigation.responsive { 
        padding-bottom: 20px;
        flex-direction: column;
    }
    .navigation.responsive a.icon {
        position: absolute;
        right: 8px;
        top: 41px;
       
    }
    .navigation.responsive li {
      float: none;
      display: block;
      text-align: left;
      padding: 10px;
      
    }
    .titre-social{
      display: none;
    }
    article{
      width: auto;
      height: auto;
      margin-bottom: 1vh;
    }
    article img {
      height: 250px;
      width: 350px;
    }
    .description{
      transform: translateY(70%);
      height: 250px;
      width: 350px;
    }
    .card-compt{
      width: 90%;
    }
    footer{
      position: unset!important;
      margin-bottom: auto!important;
    }
    
}
@media screen and (max-width: 1320px){
  .container .button {
    top: 52%;
  }
}
/*IMAGE COMPT*/
@media screen and (max-width: 1320px){
  .img-zone{
    display: none;
  }
}
/*INTERET*/
@media screen and (max-width: 1304px){
  .mosaic{
    width: 70%;
  }
}
@media screen and (min-width: 1663px){
  .mosaic{
    margin-left: 150px;
    margin-right: 150px;
  }
}


@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}
.modal-overlay {
  position: fixed;
  top: 0;
  margin: auto;
  background-color: #608ac1;
  opacity: 0;
  visibility: hidden;
  z-index: 40;
  -moz-transition: opacity 0.25s ease 0s, visibility 0.35s linear;
  -o-transition: opacity 0.25s ease 0s, visibility 0.35s linear;
  -webkit-transition: opacity 0.25s ease, visibility 0.35s linear;
  /* -webkit-transition-delay: 0s, 0s; */
  transition: opacity 0.25s ease 0s, visibility 0.35s linear;
}
.modal-overlay.state-show {
  opacity: .7;
  visibility: visible;
  width: 100%;
  height: 100%;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -moz-transition-duration: 0.2s, 0s;
  -o-transition-duration: 0.2s, 0s;
  -webkit-transition-duration: 0.2s, 0s;
  transition-duration: 0.2s, 0s;
}
.overlay{
  position: absolute;
  margin: auto;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 40;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.411);

}
.overlay h3{
  margin: 0;

}

.open{
  transition: 1000ms;
  display: flex;
  position: absolute;
  height: max-content;
  width: auto;
  color: #03142a;
  flex-direction: column;
  align-items: center;
  z-index: 41;
  margin: 10px;
  margin-top: 0;
  padding: 10vh;
  background-color: #fff;
  opacity: 1;
  visibility: visible;

}
.open img{
  width: 420px;
}
.close{
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
  color: #333;
}
.close:hover {
  cursor: pointer;
  color: #d80606;
}

.filter{
  margin-bottom: 15px;
}
.filter ul{
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.filter ul li{ 
  margin: 5px;
  margin-left: 15px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
  border: 3px solid white;
  color: white;
  transition: 1000ms;
}
.filter ul li:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #8fc866;
  transform: translateY(-0.25em);
  border: 3px solid #8fc866;
  color: #8fc866;
  transition: 1000ms;
}
.active {
  box-shadow: 0 0.5em 0.5em -0.4em #8fc866;
  transform: translateY(-0.25em);
  border: 3px solid #8fc866 !important;
  color: #8fc866 !important;
  transition: 1000ms ;
}
